@model Driving_School_Management_System.Models.INSTRUCTOR

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>INSTRUCTOR</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FULLNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FULLNAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EMAIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMAIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ADDRES)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ADDRES)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TELEPHONE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TELEPHONE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LISENCES)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LISENCES)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GENDER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GENDER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EDUCATIONAL_LEVEL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EDUCATIONAL_LEVEL)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
