@using Driving_School_Management_System.Models
@model LoginViewModel
@{
    ViewBag.Title = "Login";
    ViewBag.Desc = "Only Login";
    Layout = null;
}

<link href="@Url.Content("~/Content/AdminLTE/adminlte.min.css")" rel="stylesheet" />
<link href="@Url.Content("~/Plugins/fontawesome-free/css/all.min.css")" rel="stylesheet" />

@using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
{


    <div class="container" style="margin-top:10%">
        <h2 class="text-center text-warning">Caalami Najax</h2>
        <h3 class="text-center text-pink">Driving School Management System </h3>

        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">

            </div>
            <div class="col-lg-6 col-md-6 text-center shadow-lg p-3  bg-white rounded">
                <div class="mt-1">
                    @Html.AntiForgeryToken()
                    <h1 class="text-center">Login Form</h1>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">

                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control ", @Placeholder = "Enter Your Email" })
                        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })

                    </div>

                </div>
                <div class="form-group">

                    @Html.PasswordFor(m => m.Password, new { @class = "form-control", @Placeholder = "Enter Password" })
                    @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <div class="checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                            @Html.ActionLink("Forgot your password?", "ForgotPassword", null, new { @Style = "margin-left:50px" })
                        </div>




                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Log in" class="btn btn-primary" style="width:50%" />
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-3 col-md-6 text-center">

        </div>

    </div>





}




@Scripts.Render("~/bundles/jquery")
<script src="@Url.Content("~/Plugins/bootstrap/js/bootstrap.bundle.min.js")"></script>
<script src="@Url.Content("~/Scripts/AdminLTE/adminlte.min.js")"></script>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}