@using Driving_School_Management_System.Models
@model LoginViewModel
@{
    ViewBag.Title = "Login";
    ViewBag.Desc = "Only Login";
    Layout = null;
}

<link href="@Url.Content("~/Content/AdminLTE/adminlte.min.css")" rel="stylesheet" />
<link href="@Url.Content("~/Plugins/fontawesome-free/css/all.min.css")" rel="stylesheet" />



<div class="row" style="padding:50px">
    <div class="col-md-4">

    </div>


    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="col-md-4">
            <div class="login-box">
                <div class="login-logo">
                    <a href="/Home" class="font-weight-bolder">Driving School Managament System</a>
                </div>
                <!-- /.login-logo -->
                <div class="card">
                    <div class="card-body login-card-body">
                        <p class="login-box-msg">Sign in to start your session</p>


                        <div class="input-group mb-3">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Enter Email or UserName" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Enter Password" })
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8">
                                <div class="icheck-primary">
                                    @Html.CheckBoxFor(m => m.RememberMe)


                                    <label for="remember">
                                        @Html.LabelFor(m => m.RememberMe)
                                    </label>
                                </div>
                            </div>
                            <!-- /.col -->
                            <div class="row">
                                <div class="col-md-12 text-center">
                                    <input type="submit" value="Log in" class="btn btn-primary font-weight-bolder" />

                                </div>
                                <div class="col-md-12 text-center">
                                    @Html.ActionLink("Forgot your password?", "ForgotPassword")

                                </div>
                            </div>
                        </div>


                        @*<div class="social-auth-links text-center mb-3">
                                <p>- OR -</p>
                                <a href="#" class="btn btn-block btn-warning font-weight-bolder">
                                    <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
                                </a>
                                <a href="#" class="btn btn-block btn-success font-weight-bolder">
                                    <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
                                </a>
                            </div>*@
                        <!-- /.social-auth-links -->
                        @*<p class="mb-0">
                                @Html.ActionLink("Register as a new user", "Register")


                            </p>*@
                    </div>
                    <!-- /.login-card-body -->
                </div>
            </div>
            <!-- /.login-box -->

        </div>
    }

    <div class="col-md-4">

    </div>
</div>


@Scripts.Render("~/bundles/jquery")
<script src="@Url.Content("~/Plugins/bootstrap/js/bootstrap.bundle.min.js")"></script>
<script src="@Url.Content("~/Scripts/AdminLTE/adminlte.min.js")"></script>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}