@model IEnumerable<Driving_School_Management_System.Models.CAR_DETAIL>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CARNAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CARMODEL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CARGEAR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ENGINE_CC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.INSTRUCTOR.FULLNAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CARNAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CARMODEL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CARGEAR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ENGINE_CC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.INSTRUCTOR.FULLNAME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
